body {
  background-color: grey
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 100%;
  font-family:sans-serif;
}

p1 {
  font-family: times;
  font-size: 15px;
  color: white;
}

div {
  background-color: white;
  width: 400px;
  color: black;
}
